// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.welcome-message {
  font-size: 25px;
  margin-left: 30px;
}

.intro-message {
  margin-top: 20px;
  line-height: 3.0;
}

.intro-block {
  margin-left: 60px; 
}

.intro-message {
  line-height: 2.2;
  margin-bottom: 20px;
}

.start-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 10px; 
}

